<div class="content">
    <form (submit)="createUser($event)">
      <div class="crudForm">
        <h1>Register an account</h1>
        <label for="inputName" class="form-label"><p>Name</p></label>
        <input type="text" class="form-control" id="inputName" name="Name" autocomplete="off"/>
  
        <label for="inputPassword" class="form-label"><p>Password</p></label>
        <input type="password" class="form-control" id="inputPassword" name="Password" autocomplete="off"/>
  
        <label for="inputEmail" class="form-label"><p>Email</p></label>
        <input type="email" class="form-control" id="inputEmail" name="Email" autocomplete="off"/>
  
        <button type="submit">Sign Up</button>
      </div>
    </form>
  </div>
  